@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 650px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border-bottom-right-radius: 170px;
    padding: 40px;
    box-shadow: 0 0.9rem 1.2rem 0 hsl(0, 0%, 86%);
}

form {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
    color: hsl(0, 1%, 44%);
    text-transform: uppercase;
}

.date-container {
    display: flex;
    flex-direction: column;
}
label {
    letter-spacing: 0.2rem;
    font-size: 12px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 110px;
    font-size: 32px;
    font-weight: 700px;
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 94%);
}

input:focus {
    font-weight: 600;
    border: 0.1rem solid hsl(259, 100%, 65%);
}

.error {
    color: hsl(0, 100%, 67%);
    font-size: 12px;
    font-style: italic;
    margin: 10px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.left-line hr,
.right-line hr {
    width: 30rem;
    border: 1px solid hsl(0, 0%, 86%);
}

button {
    background-color: hsl(259, 100%, 65%);
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
}

.right-line {
    display: none;
}

button:hover {
    background-color: hsl(0, 0%, 8%);
}

.result-display {
    margin-bottom: -10px;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    color: hsl(0, 0%, 8%);
}

span {
    color: hsl(259, 100%, 65%);
}

@media (max-width:600px) {
    section{
        width: 350px;
        height: 430px;
        padding: 30px;
        border-bottom-right-radius: 100px;
    }

    form {
        width: 100%;
    }

    input {
        width: 90px;
        font-size: 20px;
        /* padding: 15px; */
    }

    .error {
        width: 90px;
    }

    .left-line hr,
    .right-line hr {
        width: 7rem;
    }

    .right-line {
        display: flex;
    }
    
    .result-display {
        font-size: 2.3rem;
    }
}