@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 650px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border-bottom-right-radius: 170px;
    padding: 40px;
    box-shadow: 0 0.9rem 1.2rem 0 hsl(0, 0%, 86%);
}