@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}